.body {
    background-color: lightblue;
}
.titulo {
    color: cornflowerblue;
    font-family: 'Bauhaus 93';
    text-align: center;
}
.texto {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    margin-right: 300px;
    margin-left: 300px;
}
