
@font-face {
    font-family: 'Fuente1';
    src: url('assets/font/Aclonica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fuente2';
    src: url('assets/font/Pompiere-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.texto {
    background-color: #212121;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Fuente2,sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #f00;
}

header {
    display: flex; 
    align-items: center; 
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: #111;
    font-family: Fuente1,sans-serif;
    padding: 5px;
    color: #f00;
    border-bottom: 2px solid #f00;
}
    header .title {
        font-size: 4em;
        margin: 10px;
    }

    /* Estilo para el banner */
    header .banner {
        font-size: 1.2em;
        margin-top: 3px;
        margin-left:10px;
        opacity: 0.9;
    }


nav {
    font-family: Fuente1,sans-serif;
    text-align: center;
    margin: 15px 0;
}

    nav a {
        text-decoration: none;
        color: #f00;
        font-size: 1.2em;
        margin: 0 15px;
        transition: color 0.3s;
    }

        nav a:hover {
            color: #ffffff;
        }


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #111;
    border: 2px solid #FFD700;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        width: 100px;
        height: auto;
    }

    .card h2 {
        color: #f00;
        margin-top: 10px;
    }

    .card p {
        color: #f00;
    }

.content {
    flex: 1;
    padding: 100px;
    background-color: #212121;
}





footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #f00;
    border-top: 2px solid #f00;
    margin-top: 40px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-icons {
    margin-top: 10px;
}
    .footer-icons img {
        width: 30px;
        height: auto;
        margin: 0 10px;
        transition: transform 0.3s;
    }

        .footer-icons img:hover {
            transform: scale(1.2);
        }
